HWPlayground/IoT.json
[{"id":"e9520e16f9d15eca","type":"tab","label":"IoT - device","disabled":false,"info":""},{"id":"d437374c81ed8395","type":"tab","label":"IoT - register device","disabled":false,"info":"","env":[]},{"id":"6a682e4098e16654","type":"tab","label":"Re-login/Request new token","disabled":false,"info":"","env":[]},{"id":"4dd1fce3ee59469e","type":"tab","label":"Send data to cloud","disabled":false,"info":"","env":[]},{"id":"dae5ed578e128c8a","type":"tab","label":"Error 5xx","disabled":false,"info":"Backend returns 5xx - save data to \nfile, try to send 3 time, then save \ninto file for manual upload.","env":[]},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bf6a3c96.35048","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11207769.c31889","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"57ff470b.93fdf8","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"69e2d5f07ea64cf0","type":"serial-port","name":"HWCoreMod","serialport":"/dev/tty.usbserial-110","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"low","rts":"low","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"c47919743d01f056","type":"debug","z":"e9520e16f9d15eca","name":"OutputFromFunction","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":830,"y":80,"wires":[]},{"id":"8c0d71182da51b50","type":"function","z":"e9520e16f9d15eca","name":"getInfo","func":"let text = msg.payload;\nlet trimPos = text.lastIndexOf(\";\");\n\nlet id = text.substring(trimPos - 15, (trimPos - 15) + 15); //15 chars CoreModule ID\nlet tempText = text.substring(trimPos + 2, (trimPos +2) + 5); // 5 chars for temp;\nlet tempFloat = parseFloat(tempText); //convert to float value\nconst d = new Date();\nlet timestamp = d.toISOString();\n\nmsg.payload = { \"date\": timestamp, \"value\": tempFloat };\n/*const msg1 = {\n    date: timestamp,\n    Warehouse: id,\n    value: tempFloat,\n};*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":330,"y":200,"wires":[["c47919743d01f056","2e4d3a2b1cb164c1"]]},{"id":"668ea701af8723b8","type":"file","z":"e9520e16f9d15eca","name":"TempFile.txt","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/TempFile.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":200,"wires":[["b94688a337dfb69b"]]},{"id":"b94688a337dfb69b","type":"debug","z":"e9520e16f9d15eca","name":"writeFile","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":200,"wires":[]},{"id":"fd8fa4ad1b860cdc","type":"debug","z":"e9520e16f9d15eca","name":"FromDevice","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":340,"y":300,"wires":[]},{"id":"2e4d3a2b1cb164c1","type":"json","z":"e9520e16f9d15eca","name":"","property":"payload","action":"","pretty":false,"x":530,"y":200,"wires":[["668ea701af8723b8"]]},{"id":"722502b9bb43186b","type":"function","z":"e9520e16f9d15eca","name":"WriteJSONToFile-Test","func":"var str = msg.payload + ', ';\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":720,"y":260,"wires":[["2f5d70ca5384af52"]]},{"id":"2f5d70ca5384af52","type":"debug","z":"e9520e16f9d15eca","name":"debug 21","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":280,"wires":[]},{"id":"25dc5a05707b661f","type":"serial in","z":"e9520e16f9d15eca","name":"HWCoreModule","serial":"69e2d5f07ea64cf0","x":140,"y":200,"wires":[["fd8fa4ad1b860cdc","8c0d71182da51b50"]]},{"id":"e0ba69050b195270","type":"http request","z":"d437374c81ed8395","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"http://139.162.191.235:3000/api/v1/warehouse/register","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":470,"y":120,"wires":[["8c5b2635acda031c","88e0beacc32690c3"]]},{"id":"f2ebd0054df2c0d5","type":"inject","z":"d437374c81ed8395","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["651839c71a6b7a2f"]]},{"id":"20c6d23e177d911f","type":"debug","z":"d437374c81ed8395","name":"msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":120,"wires":[]},{"id":"6da13d1f9cf6df8d","type":"file","z":"d437374c81ed8395","name":"DevRegFile.txt","filename":"/home/michal/Skola/BIoT/test/DevRegFile.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"setbymsg","x":880,"y":120,"wires":[["20c6d23e177d911f"]]},{"id":"651839c71a6b7a2f","type":"function","z":"d437374c81ed8395","name":"TempLogDet","func":"msg.payload={\n    \"id\": \"267802046474926\",\n    \"password\": \"T@jneH3slo\",\n    \"secretKey\": \"diKm9kdIjc02lcHlKD091jSDjc0c2\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":290,"y":120,"wires":[["e0ba69050b195270"]]},{"id":"88e0beacc32690c3","type":"function","z":"d437374c81ed8395","name":"GetToken","func":"var id = \"267802046474926\";\nvar token = msg.payload.body.token;\n\nmsg.payload = {\"id\": id,\"token\": token};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":680,"y":120,"wires":[["25cd7fd4e7c22125","6da13d1f9cf6df8d"]]},{"id":"8c5b2635acda031c","type":"debug","z":"d437374c81ed8395","name":"Token","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":640,"y":60,"wires":[]},{"id":"25cd7fd4e7c22125","type":"debug","z":"d437374c81ed8395","name":"RetTokenID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"6d6abd54a2de9afd","type":"http request","z":"6a682e4098e16654","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://139.162.191.235:3000/api/v1/warehouse/login","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":true,"headers":[{"keyType":"msg","keyValue":"headers['X-Auth-User']","valueType":"other","valueValue":"headers['X-Auth-Key']"}],"x":530,"y":160,"wires":[["42e6ba6fe952a6a1","bb6a14999eba7c63"]]},{"id":"42e6ba6fe952a6a1","type":"debug","z":"6a682e4098e16654","name":"debug 1","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":100,"wires":[]},{"id":"864d8e5da5218799","type":"function","z":"6a682e4098e16654","name":"LogToServer","func":"msg.payload = {\n    \"id\": \"267802046474926\",\n    \"password\": \"T@jneH3slo\",\n}\nreturn msg;\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":330,"y":160,"wires":[["6d6abd54a2de9afd"]]},{"id":"bb6a14999eba7c63","type":"function","z":"6a682e4098e16654","name":"UpdateToken","func":"//Update token in file\nvar id = \"267802046474926\";\nvar token = msg.payload.body.token;\n\nmsg.payload = { \"id\": id, \"token\": token };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":160,"wires":[["485785ea3262c5f0"]]},{"id":"485785ea3262c5f0","type":"file","z":"6a682e4098e16654","name":"Update DevRegFile.txt","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/DevRegFile.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"setbymsg","x":960,"y":160,"wires":[[]]},{"id":"2c6ffcc970351a6e","type":"inject","z":"6a682e4098e16654","name":"","props":[{"p":"payload"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["864d8e5da5218799"]]},{"id":"56536ac222ab18f4","type":"http in","z":"4dd1fce3ee59469e","name":"","url":"localhot:3000/login","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[[]]},{"id":"b9435802b86d6023","type":"function","z":"4dd1fce3ee59469e","name":"ReadLoginData","func":"var id = msg.payload.id;\nvar token = msg.payload.token;\nmsg.payload = {\"id\": id, \"token\": token};\nmsg.values = new Array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":680,"y":120,"wires":[["7c775f9f7164f7e7","0621e696c2fa03f5","3f6fb59478b63174","0b5440468725f2b0"]]},{"id":"a32e2b2943d6e505","type":"file in","z":"4dd1fce3ee59469e","name":"DevRegFile.txt","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/DevRegFile.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":160,"wires":[["b82e1c0e61728a30","894f3be6e4a1811e"]]},{"id":"0f94d7d7ef7b6346","type":"inject","z":"4dd1fce3ee59469e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":160,"wires":[["a32e2b2943d6e505"]]},{"id":"b82e1c0e61728a30","type":"debug","z":"4dd1fce3ee59469e","name":"TokenGET","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":490,"y":200,"wires":[]},{"id":"7c775f9f7164f7e7","type":"debug","z":"4dd1fce3ee59469e","name":"ID","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.id","targetType":"msg","statusVal":"payload.id","statusType":"msg","x":930,"y":40,"wires":[]},{"id":"0621e696c2fa03f5","type":"debug","z":"4dd1fce3ee59469e","name":"Token?","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.token","targetType":"msg","statusVal":"payload.token","statusType":"auto","x":940,"y":100,"wires":[]},{"id":"85731221e883fe66","type":"change","z":"4dd1fce3ee59469e","name":"Delete MSG Payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":280,"wires":[[]]},{"id":"3f6fb59478b63174","type":"debug","z":"4dd1fce3ee59469e","name":"debug 2","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":160,"wires":[]},{"id":"1c11837e8fcf04ac","type":"file","z":"4dd1fce3ee59469e","name":"","filename":"/home/michal/Skola/BIoT/test/testToken.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":430,"y":40,"wires":[[]]},{"id":"894f3be6e4a1811e","type":"json","z":"4dd1fce3ee59469e","name":"","property":"payload","action":"","pretty":false,"x":470,"y":100,"wires":[["b9435802b86d6023"]]},{"id":"5bf60d9e2190b795","type":"http request","z":"4dd1fce3ee59469e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://139.162.191.235:3000/api/v1/warehouse/record","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1010,"y":500,"wires":[["2c92e27b46132957","d4c708756e604355","8729b6592e1f73b1","63fb4265a7cc8dfd"]],"inputLabels":["msg.payload"]},{"id":"36733370d32ba5e3","type":"debug","z":"4dd1fce3ee59469e","name":"201","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":780,"wires":[]},{"id":"0b5440468725f2b0","type":"function","z":"4dd1fce3ee59469e","name":"SendAuthData","func":"//sending ID and Token to authorize\n//msg.headers = {};\n//msg.headers['X-Auth-User'] = msg.payload.id;\n//msg.headers['X-Auth-Key'] = msg.payload.token;\nmsg.headers = {\n    //id: msg.payload.id,\n    Authorization: \"Bearer \" + msg.payload.token\n    //Authorization: msg.payload.token\n}\n    //msg.headers['X-Auth-Key'] = msg.payload.token\n\nreturn msg.headers;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg.payload","module":"msg"}],"x":120,"y":440,"wires":[["168dba6926a1d3cb","a757c4b46ce44741"]]},{"id":"2c92e27b46132957","type":"switch","z":"4dd1fce3ee59469e","name":"ReturnCode","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"str"},{"t":"eq","v":"401","vt":"str"},{"t":"eq","v":"400","vt":"str"},{"t":"eq","v":"409","vt":"str"},{"t":"gte","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":130,"y":940,"wires":[["36733370d32ba5e3","571e686957ae62fa"],["1682fbf20b847e31"],["96ed07036124b2a5"],["16250686ec399d60"],["f78462fc39e51a39","be76b3b77584623c"]]},{"id":"d4c708756e604355","type":"debug","z":"4dd1fce3ee59469e","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":440,"wires":[]},{"id":"168dba6926a1d3cb","type":"debug","z":"4dd1fce3ee59469e","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"headers","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":400,"wires":[]},{"id":"1682fbf20b847e31","type":"debug","z":"4dd1fce3ee59469e","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":900,"wires":[]},{"id":"ab9077b1c1f7e4b5","type":"debug","z":"4dd1fce3ee59469e","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":340,"wires":[]},{"id":"bad816dbc1269054","type":"debug","z":"4dd1fce3ee59469e","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"headers","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":420,"wires":[]},{"id":"caf37bf933712f10","type":"debug","z":"4dd1fce3ee59469e","name":"debug 10","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":370,"y":600,"wires":[]},{"id":"8729b6592e1f73b1","type":"debug","z":"4dd1fce3ee59469e","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1180,"y":400,"wires":[]},{"id":"16250686ec399d60","type":"debug","z":"4dd1fce3ee59469e","name":"409","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":980,"wires":[]},{"id":"96ed07036124b2a5","type":"debug","z":"4dd1fce3ee59469e","name":"400","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":940,"wires":[]},{"id":"f78462fc39e51a39","type":"file","z":"4dd1fce3ee59469e","name":"FailedDataSending","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/TempFileFailed.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":170,"y":1180,"wires":[[]]},{"id":"be76b3b77584623c","type":"debug","z":"4dd1fce3ee59469e","name":">=500","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1100,"wires":[]},{"id":"a2b6d94cc8a9d7e9","type":"join","z":"4dd1fce3ee59469e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":500,"wires":[["a2adac50d992a57d","6c1ae9b79e29df38"]]},{"id":"a2adac50d992a57d","type":"debug","z":"4dd1fce3ee59469e","name":"debug 16","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":580,"wires":[]},{"id":"63fb4265a7cc8dfd","type":"file","z":"4dd1fce3ee59469e","name":"TestHTTPReq","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/http2.txt","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1160,"y":340,"wires":[[]]},{"id":"a757c4b46ce44741","type":"file in","z":"4dd1fce3ee59469e","name":"ReadTemperatures","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/TempFile.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":true,"x":270,"y":500,"wires":[["caf37bf933712f10","73639ef604d94da4"]]},{"id":"94417b9052c65eea","type":"function","z":"4dd1fce3ee59469e","name":"CreateDataToSend","func":"msg.headers = {\n   //id: msg.headers.id,\n    //Authorization: \"Bearer \" + msg.headers.token\n    Authorization: msg.Authorization\n}\n\n/*\n{\n    \"values\": [\n        {\n            \"date\": \"2024-06-13T21:45:28.183Z\",\n            \"value\": 0\n        }\n    ]\n}*/\n//var str = msg.payload.replace(/}\\n$/, /},/);\n//var val = new Array(msg.payload);\n\n//var str = msg.payload.replace(/,$/, \"\");\n// var eStr = str.replace(\"\\\\n\", \"\");\n// var str = msg.payload;\n//var newStr = new String(str);\n//msg.values = \"\";\n\nmsg.values = msg.payload;//.replace(\"\\\"{\", \"{\");//'[ ' + newStr + ' ]';\n//msg.values = msg.values.replace(\"}\\\"\", \"}\");\n//msg.payload = val;\n/*[\n    { \"date\": \"2024-06-02T10:20:39.661Z\", \"value\": 26.31 },\n    { \"date\": \"2024-06-02T10:21:41.178Z\", \"value\": 26.38 },\n    { \"date\": \"2024-06-02T10:22:41.178Z\", \"value\": 26.48 },\n    { \"date\": \"2024-06-02T10:23:41.178Z\", \"value\": 26.48 },\n    { \"date\": \"2024-06-02T10:24:41.178Z\", \"value\": 26.58 },\n    { \"date\": \"2024-06-02T10:25:41.178Z\", \"value\": 26.68 },\n    { \"date\": \"2024-06-02T10:26:41.178Z\", \"value\": 26.88 },\n    { \"date\": \"2024-06-02T10:27:41.178Z\", \"value\": 26.18 },\n]\n};*/\n\n//var str = tempMsg.replace(/,$/, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg.payload","module":"msg"},{"var":"global.headers","module":"global"},{"var":"msg.values","module":"msg"}],"x":770,"y":500,"wires":[["ab9077b1c1f7e4b5","bad816dbc1269054","5bf60d9e2190b795","af9791ef7f1baa82"]]},{"id":"73639ef604d94da4","type":"split","z":"4dd1fce3ee59469e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":500,"wires":[["a2b6d94cc8a9d7e9"]]},{"id":"af9791ef7f1baa82","type":"file","z":"4dd1fce3ee59469e","name":"TestHTTPReq","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/http.txt","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":840,"y":560,"wires":[[]]},{"id":"571e686957ae62fa","type":"file","z":"4dd1fce3ee59469e","name":"Delete Temperature File","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/TempFile.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":550,"y":820,"wires":[[]]},{"id":"6c1ae9b79e29df38","type":"function","z":"4dd1fce3ee59469e","name":"ConvertToJSON","func":"const convertToJSONArray = (array) => {\n    return array.map(item => JSON.parse(item.trim()));\n};\n\nconst jsonArray = convertToJSONArray(msg.payload);\n\nmsg.payload = {\"values\": jsonArray}\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":680,"y":440,"wires":[["94417b9052c65eea"]]},{"id":"e53dd171b3a1b11c","type":"inject","z":"dae5ed578e128c8a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["79750ae59a0f30be"]]},{"id":"4b4c817e1bd1af91","type":"function","z":"dae5ed578e128c8a","name":"ReadLoginData","func":"var id = msg.payload.id;\nvar token = msg.payload.token;\nmsg.payload = {\"id\": id, \"token\": token};\nmsg.values = new Array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":520,"y":140,"wires":[["3b11d30571e4936d","f98f88670256ec92"]]},{"id":"79750ae59a0f30be","type":"file in","z":"dae5ed578e128c8a","name":"DevRegFile.txt","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/DevRegFile.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":140,"wires":[["254e36ea826b0cc7"]]},{"id":"254e36ea826b0cc7","type":"json","z":"dae5ed578e128c8a","name":"","property":"payload","action":"","pretty":false,"x":410,"y":60,"wires":[["4b4c817e1bd1af91"]]},{"id":"3b11d30571e4936d","type":"function","z":"dae5ed578e128c8a","name":"SendAuthData","func":"//sending ID and Token to authorize\n//msg.headers = {};\n//msg.headers['X-Auth-User'] = msg.payload.id;\n//msg.headers['X-Auth-Key'] = msg.payload.token;\nmsg.headers = {\n    //id: msg.payload.id,\n    Authorization: \"Bearer \" + msg.payload.token\n    //Authorization: msg.payload.token\n}\n    //msg.headers['X-Auth-Key'] = msg.payload.token\n\nreturn msg.headers;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg.payload","module":"msg"}],"x":720,"y":140,"wires":[["181870ab8e01f64e","2a4feefe75c83367"]]},{"id":"4f4de3139b1a4a68","type":"function","z":"dae5ed578e128c8a","name":"FailedDataToSend","func":"msg.headers = {\n   //id: msg.headers.id,\n    //Authorization: \"Bearer \" + msg.headers.token\n    Authorization: msg.Authorization\n}\n\n/*\n{\n    \"values\": [\n        {\n            \"date\": \"2024-06-13T21:45:28.183Z\",\n            \"value\": 0\n        }\n    ]\n}*/\n//var str = msg.payload.replace(/}\\n$/, /},/);\n//var val = new Array(msg.payload);\n\n//var str = msg.payload.replace(/,$/, \"\");\n// var eStr = str.replace(\"\\\\n\", \"\");\n// var str = msg.payload;\n//var newStr = new String(str);\n//msg.values = \"\";\n\nmsg.values = msg.payload;//.replace(\"\\\"{\", \"{\");//'[ ' + newStr + ' ]';\n//msg.values = msg.values.replace(\"}\\\"\", \"}\");\n//msg.payload = val;\n/*[\n    { \"date\": \"2024-06-02T10:20:39.661Z\", \"value\": 26.31 },\n    { \"date\": \"2024-06-02T10:21:41.178Z\", \"value\": 26.38 },\n    { \"date\": \"2024-06-02T10:22:41.178Z\", \"value\": 26.48 },\n    { \"date\": \"2024-06-02T10:23:41.178Z\", \"value\": 26.48 },\n    { \"date\": \"2024-06-02T10:24:41.178Z\", \"value\": 26.58 },\n    { \"date\": \"2024-06-02T10:25:41.178Z\", \"value\": 26.68 },\n    { \"date\": \"2024-06-02T10:26:41.178Z\", \"value\": 26.88 },\n    { \"date\": \"2024-06-02T10:27:41.178Z\", \"value\": 26.18 },\n]\n};*/\n\n//var str = tempMsg.replace(/,$/, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg.payload","module":"msg"},{"var":"global.headers","module":"global"},{"var":"msg.values","module":"msg"}],"x":290,"y":240,"wires":[["d4d17b4f792494d8","850220bb1420667b"]]},{"id":"d4d17b4f792494d8","type":"http request","z":"dae5ed578e128c8a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://139.162.191.235:3000/api/v1/warehouse/record","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":240,"wires":[["fc1256395a0561ab","6b842d87ed012412"]],"inputLabels":["msg.payload"]},{"id":"02e3d42699c30c23","type":"debug","z":"dae5ed578e128c8a","name":"200","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"fc1256395a0561ab","type":"switch","z":"dae5ed578e128c8a","name":"ReturnCode","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"eq","v":"401","vt":"str"},{"t":"eq","v":"400","vt":"str"},{"t":"eq","v":"409","vt":"str"},{"t":"gte","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":790,"y":240,"wires":[["02e3d42699c30c23"],["670371bcb902ea02"],["64a58a50187054bb"],["02cc1bb52b8cfda7"],["80bdcc8209d933ef"]]},{"id":"670371bcb902ea02","type":"debug","z":"dae5ed578e128c8a","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"02cc1bb52b8cfda7","type":"debug","z":"dae5ed578e128c8a","name":"409","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"64a58a50187054bb","type":"debug","z":"dae5ed578e128c8a","name":"400","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"80bdcc8209d933ef","type":"debug","z":"dae5ed578e128c8a","name":">=500","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":360,"wires":[]},{"id":"850220bb1420667b","type":"debug","z":"dae5ed578e128c8a","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":320,"wires":[]},{"id":"181870ab8e01f64e","type":"debug","z":"dae5ed578e128c8a","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":80,"wires":[]},{"id":"f98f88670256ec92","type":"debug","z":"dae5ed578e128c8a","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"6b842d87ed012412","type":"debug","z":"dae5ed578e128c8a","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":320,"wires":[]},{"id":"2a4feefe75c83367","type":"file in","z":"dae5ed578e128c8a","name":"Read Saved Temperatures","filename":"/Users/michalsvab/Desktop/School/2.Ročník/4.Semestr/IoT/IoT-project/semestral-iot-project/TempFileFailed.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1000,"y":140,"wires":[["d68aec45c7677753"]]},{"id":"d68aec45c7677753","type":"json","z":"dae5ed578e128c8a","name":"","property":"payload","action":"","pretty":false,"x":110,"y":240,"wires":[["4f4de3139b1a4a68"]]}]