HWPlayground/IoT.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"IoT - device","disabled":false,"info":""},{"id":"2f7176dbe7a2b637","type":"tab","label":"IoT - register device","disabled":false,"info":"","env":[]},{"id":"60d91c115b2b35d2","type":"tab","label":"Re-login/Request new token","disabled":false,"info":"","env":[]},{"id":"cfe2cfb0f884b375","type":"tab","label":"Send data to cloud","disabled":false,"info":"","env":[]},{"id":"1e19e69d5d995c30","type":"tab","label":"Error 5xx","disabled":false,"info":"Backend returns 5xx - save data to \nfile, try to send 3 time, then save \ninto file for manual upload.","env":[]},{"id":"bf6a3c96.35048","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b471a64eac96f1e4","type":"serial-port","name":"HWCoreMod","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"low","rts":"low","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f0e9e9ab2aa09258","type":"serial in","z":"2c41a2bd.aa36ae","name":"HWCoreModule","serial":"b471a64eac96f1e4","x":140,"y":200,"wires":[["f9b2cd0bc67cb1e1","7e4c43e2d4d17e96"]]},{"id":"ab8dfbe9efb70ff5","type":"debug","z":"2c41a2bd.aa36ae","name":"OutputFromFunction","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":830,"y":80,"wires":[]},{"id":"7e4c43e2d4d17e96","type":"function","z":"2c41a2bd.aa36ae","name":"getInfo","func":"let text = msg.payload;\nlet trimPos = text.lastIndexOf(\";\");\n\nlet id = text.substring(trimPos - 15, (trimPos - 15) + 15); //15 chars CoreModule ID\nlet tempText = text.substring(trimPos + 2, (trimPos +2) + 5); // 5 chars for temp;\nlet tempFloat = parseFloat(tempText); //convert to float value\nconst d = new Date();\nlet timestamp = d.toISOString();\n\nmsg.payload = { \"date\": timestamp, \"value\": tempFloat };\n/*const msg1 = {\n    date: timestamp,\n    Warehouse: id,\n    value: tempFloat,\n};*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":330,"y":200,"wires":[["ab8dfbe9efb70ff5","a76ebcb1e0dc9ff8"]]},{"id":"26d16acb7aee07a1","type":"file","z":"2c41a2bd.aa36ae","name":"TempFile.txt","filename":"/home/michal/Skola/BIoT/test/TempFile.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":200,"wires":[["b087ffdb7635a2f2"]]},{"id":"b087ffdb7635a2f2","type":"debug","z":"2c41a2bd.aa36ae","name":"writeFile","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":200,"wires":[]},{"id":"f9b2cd0bc67cb1e1","type":"debug","z":"2c41a2bd.aa36ae","name":"FromDevice","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":340,"y":300,"wires":[]},{"id":"a76ebcb1e0dc9ff8","type":"json","z":"2c41a2bd.aa36ae","name":"","property":"payload","action":"","pretty":false,"x":530,"y":200,"wires":[["1cb94a0853da8c72"]]},{"id":"1cb94a0853da8c72","type":"function","z":"2c41a2bd.aa36ae","name":"WriteJSONToFile-Test","func":"var str = msg.payload + ', ';\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":720,"y":200,"wires":[["26d16acb7aee07a1","b66e7d2061a99339"]]},{"id":"b66e7d2061a99339","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 21","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":280,"wires":[]},{"id":"0e4d6e134470b4bf","type":"http request","z":"2f7176dbe7a2b637","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"http://139.162.191.235:3000/api/v1/warehouse/register","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":470,"y":120,"wires":[["2e6e0df8f1fefbf5","67dfaa3be5d70811"]]},{"id":"2fe77a41c2b0956b","type":"inject","z":"2f7176dbe7a2b637","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["729d1a253addcd2f"]]},{"id":"c575887a8b14af24","type":"debug","z":"2f7176dbe7a2b637","name":"msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":120,"wires":[]},{"id":"b5e8e5c6ea9bcf3c","type":"file","z":"2f7176dbe7a2b637","name":"DevRegFile.txt","filename":"/home/michal/Skola/BIoT/test/DevRegFile.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"setbymsg","x":880,"y":120,"wires":[["c575887a8b14af24"]]},{"id":"729d1a253addcd2f","type":"function","z":"2f7176dbe7a2b637","name":"TempLogDet","func":"msg.payload={\n    \"id\": \"267802046474926\",\n    \"password\": \"T@jneH3slo\",\n    \"secretKey\": \"diKm9kdIjc02lcHlKD091jSDjc0c2\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":290,"y":120,"wires":[["0e4d6e134470b4bf"]]},{"id":"67dfaa3be5d70811","type":"function","z":"2f7176dbe7a2b637","name":"GetToken","func":"var id = \"267802046474926\";\nvar token = msg.payload.body.token;\n\nmsg.payload = {\"id\": id,\"token\": token};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":680,"y":120,"wires":[["76eeb5fe16721179","b5e8e5c6ea9bcf3c"]]},{"id":"2e6e0df8f1fefbf5","type":"debug","z":"2f7176dbe7a2b637","name":"Token","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":640,"y":60,"wires":[]},{"id":"76eeb5fe16721179","type":"debug","z":"2f7176dbe7a2b637","name":"RetTokenID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"497f343b5664c77f","type":"http request","z":"60d91c115b2b35d2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://139.162.191.235:3000/api/v1/warehouse/login","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":true,"headers":[{"keyType":"msg","keyValue":"headers['X-Auth-User']","valueType":"other","valueValue":"headers['X-Auth-Key']"}],"x":530,"y":160,"wires":[["2df241ec95eaa11b","b5d2bf4e715bec65"]]},{"id":"2df241ec95eaa11b","type":"debug","z":"60d91c115b2b35d2","name":"debug 1","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":100,"wires":[]},{"id":"6a1c80c53729684d","type":"function","z":"60d91c115b2b35d2","name":"LogToServer","func":"msg.payload = {\n    \"id\": \"267802046474926\",\n    \"password\": \"T@jneH3slo\",\n}\nreturn msg;\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":330,"y":160,"wires":[["497f343b5664c77f"]]},{"id":"b5d2bf4e715bec65","type":"function","z":"60d91c115b2b35d2","name":"UpdateToken","func":"//Update token in file\nvar id = \"267802046474926\";\nvar token = msg.payload.body.token;\n\nmsg.payload = { \"id\": id, \"token\": token };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":160,"wires":[["edaa6e2d68c15ec6"]]},{"id":"edaa6e2d68c15ec6","type":"file","z":"60d91c115b2b35d2","name":"Update DevRegFile.txt","filename":"/home/michal/Skola/BIoT/test/DevRegFile.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"setbymsg","x":960,"y":160,"wires":[[]]},{"id":"d37b5f0960a10ee6","type":"inject","z":"60d91c115b2b35d2","name":"","props":[{"p":"payload"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["6a1c80c53729684d"]]},{"id":"50285b5333b70e03","type":"http in","z":"cfe2cfb0f884b375","name":"","url":"localhot:3000/login","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[[]]},{"id":"fee224a918d60918","type":"function","z":"cfe2cfb0f884b375","name":"ReadLoginData","func":"var id = msg.payload.id;\nvar token = msg.payload.token;\nmsg.payload = {\"id\": id, \"token\": token};\nmsg.values = new Array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":680,"y":120,"wires":[["c003ed0507ea272a","aa3cbc80abd42cc9","623ef624052c6075","62adf6e98b3de9e0"]]},{"id":"73483805d256d68d","type":"file in","z":"cfe2cfb0f884b375","name":"DevRegFile.txt","filename":"/home/michal/Skola/BIoT/test/DevRegFile.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":160,"wires":[["6d6c3bc1835b361f","1c845fe2bdcc9f38"]]},{"id":"f54eb681cf4261ec","type":"inject","z":"cfe2cfb0f884b375","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":160,"wires":[["73483805d256d68d"]]},{"id":"6d6c3bc1835b361f","type":"debug","z":"cfe2cfb0f884b375","name":"TokenGET","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":490,"y":200,"wires":[]},{"id":"c003ed0507ea272a","type":"debug","z":"cfe2cfb0f884b375","name":"ID","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.id","targetType":"msg","statusVal":"payload.id","statusType":"msg","x":930,"y":40,"wires":[]},{"id":"aa3cbc80abd42cc9","type":"debug","z":"cfe2cfb0f884b375","name":"Token?","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.token","targetType":"msg","statusVal":"payload.token","statusType":"auto","x":940,"y":100,"wires":[]},{"id":"005f6c4c3832cc1c","type":"change","z":"cfe2cfb0f884b375","name":"Delete MSG Payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":280,"wires":[[]]},{"id":"623ef624052c6075","type":"debug","z":"cfe2cfb0f884b375","name":"debug 2","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":160,"wires":[]},{"id":"652966597ed332ba","type":"file","z":"cfe2cfb0f884b375","name":"","filename":"/home/michal/Skola/BIoT/test/testToken.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":430,"y":40,"wires":[[]]},{"id":"1c845fe2bdcc9f38","type":"json","z":"cfe2cfb0f884b375","name":"","property":"payload","action":"","pretty":false,"x":470,"y":100,"wires":[["fee224a918d60918"]]},{"id":"a79c3f694e093647","type":"http request","z":"cfe2cfb0f884b375","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://139.162.191.235:3000/api/v1/warehouse/record","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1010,"y":500,"wires":[["c2f6bba6154bbd26","78f688ca07cf5f6a","28f92e095d35bab2","f380f79acf8819c8"]],"inputLabels":["msg.payload"]},{"id":"916f0fc3e11ebb3d","type":"debug","z":"cfe2cfb0f884b375","name":"200","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":780,"wires":[]},{"id":"62adf6e98b3de9e0","type":"function","z":"cfe2cfb0f884b375","name":"SendAuthData","func":"//sending ID and Token to authorize\n//msg.headers = {};\n//msg.headers['X-Auth-User'] = msg.payload.id;\n//msg.headers['X-Auth-Key'] = msg.payload.token;\nmsg.headers = {\n    //id: msg.payload.id,\n    Authorization: \"Bearer \" + msg.payload.token\n    //Authorization: msg.payload.token\n}\n    //msg.headers['X-Auth-Key'] = msg.payload.token\n\nreturn msg.headers;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg.payload","module":"msg"}],"x":120,"y":440,"wires":[["3755b83f9df73c52","bd15e3c4cd333f17"]]},{"id":"c2f6bba6154bbd26","type":"switch","z":"cfe2cfb0f884b375","name":"ReturnCode","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"eq","v":"401","vt":"str"},{"t":"eq","v":"400","vt":"str"},{"t":"eq","v":"409","vt":"str"},{"t":"gte","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":130,"y":940,"wires":[["916f0fc3e11ebb3d","9be31ea750437015"],["65055b480c202ece"],["7931acc6e53334cb"],["55969822f230f830"],["7380c6aa48f459c1","089bf7b87e8801b0"]]},{"id":"78f688ca07cf5f6a","type":"debug","z":"cfe2cfb0f884b375","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":440,"wires":[]},{"id":"3755b83f9df73c52","type":"debug","z":"cfe2cfb0f884b375","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"headers","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":400,"wires":[]},{"id":"65055b480c202ece","type":"debug","z":"cfe2cfb0f884b375","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":900,"wires":[]},{"id":"bf7da83fe9afe1a8","type":"debug","z":"cfe2cfb0f884b375","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":340,"wires":[]},{"id":"92027bd0ed6286dd","type":"debug","z":"cfe2cfb0f884b375","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"headers","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":420,"wires":[]},{"id":"3b4e223a1c985252","type":"debug","z":"cfe2cfb0f884b375","name":"debug 10","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":370,"y":600,"wires":[]},{"id":"28f92e095d35bab2","type":"debug","z":"cfe2cfb0f884b375","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1180,"y":400,"wires":[]},{"id":"55969822f230f830","type":"debug","z":"cfe2cfb0f884b375","name":"409","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":980,"wires":[]},{"id":"7931acc6e53334cb","type":"debug","z":"cfe2cfb0f884b375","name":"400","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":940,"wires":[]},{"id":"7380c6aa48f459c1","type":"file","z":"cfe2cfb0f884b375","name":"FailedDataSending","filename":"/home/michal/Skola/BIoT/test/TempFileFailed.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":170,"y":1180,"wires":[[]]},{"id":"089bf7b87e8801b0","type":"debug","z":"cfe2cfb0f884b375","name":">=500","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1100,"wires":[]},{"id":"8f650f30f63bca75","type":"join","z":"cfe2cfb0f884b375","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":500,"wires":[["af6d099c97b69737","e0353ebc1de94a33"]]},{"id":"af6d099c97b69737","type":"debug","z":"cfe2cfb0f884b375","name":"debug 16","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":580,"wires":[]},{"id":"f380f79acf8819c8","type":"file","z":"cfe2cfb0f884b375","name":"TestHTTPReq","filename":"/home/michal/Skola/BIoT/test/http2.txt","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1160,"y":340,"wires":[[]]},{"id":"bd15e3c4cd333f17","type":"file in","z":"cfe2cfb0f884b375","name":"ReadTemperatures","filename":"/home/michal/Skola/BIoT/test/TempFile.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":true,"x":270,"y":500,"wires":[["3b4e223a1c985252","9f18b7b29e8e9e9d"]]},{"id":"e0353ebc1de94a33","type":"function","z":"cfe2cfb0f884b375","name":"CreateDataToSend","func":"msg.headers = {\n   //id: msg.headers.id,\n    //Authorization: \"Bearer \" + msg.headers.token\n    Authorization: msg.Authorization\n}\n\n/*\n{\n    \"values\": [\n        {\n            \"date\": \"2024-06-13T21:45:28.183Z\",\n            \"value\": 0\n        }\n    ]\n}*/\n//var str = msg.payload.replace(/}\\n$/, /},/);\n//var val = new Array(msg.payload);\n\n//var str = msg.payload.replace(/,$/, \"\");\n// var eStr = str.replace(\"\\\\n\", \"\");\n// var str = msg.payload;\n//var newStr = new String(str);\n//msg.values = \"\";\n\nmsg.values = msg.payload;//.replace(\"\\\"{\", \"{\");//'[ ' + newStr + ' ]';\n//msg.values = msg.values.replace(\"}\\\"\", \"}\");\n//msg.payload = val;\n/*[\n    { \"date\": \"2024-06-02T10:20:39.661Z\", \"value\": 26.31 },\n    { \"date\": \"2024-06-02T10:21:41.178Z\", \"value\": 26.38 },\n    { \"date\": \"2024-06-02T10:22:41.178Z\", \"value\": 26.48 },\n    { \"date\": \"2024-06-02T10:23:41.178Z\", \"value\": 26.48 },\n    { \"date\": \"2024-06-02T10:24:41.178Z\", \"value\": 26.58 },\n    { \"date\": \"2024-06-02T10:25:41.178Z\", \"value\": 26.68 },\n    { \"date\": \"2024-06-02T10:26:41.178Z\", \"value\": 26.88 },\n    { \"date\": \"2024-06-02T10:27:41.178Z\", \"value\": 26.18 },\n]\n};*/\n\n//var str = tempMsg.replace(/,$/, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg.payload","module":"msg"},{"var":"global.headers","module":"global"},{"var":"msg.values","module":"msg"}],"x":770,"y":500,"wires":[["bf7da83fe9afe1a8","92027bd0ed6286dd","a79c3f694e093647","4438d10f34e778cb"]]},{"id":"9f18b7b29e8e9e9d","type":"split","z":"cfe2cfb0f884b375","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":500,"wires":[["8f650f30f63bca75"]]},{"id":"4438d10f34e778cb","type":"file","z":"cfe2cfb0f884b375","name":"TestHTTPReq","filename":"/home/michal/Skola/BIoT/test/http.txt","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":840,"y":560,"wires":[[]]},{"id":"9be31ea750437015","type":"file","z":"cfe2cfb0f884b375","name":"Delete Temperature File","filename":"/home/michal/Skola/BIoT/test/TempFile.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":550,"y":820,"wires":[[]]},{"id":"f18646bfc1ebe23b","type":"inject","z":"1e19e69d5d995c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["6142ba0d2a975094"]]},{"id":"69a1982f45663262","type":"function","z":"1e19e69d5d995c30","name":"ReadLoginData","func":"var id = msg.payload.id;\nvar token = msg.payload.token;\nmsg.payload = {\"id\": id, \"token\": token};\nmsg.values = new Array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg","module":"msg"}],"x":520,"y":140,"wires":[["64ba6c9c27288334","bd78c8ad13ea48e0"]]},{"id":"6142ba0d2a975094","type":"file in","z":"1e19e69d5d995c30","name":"DevRegFile.txt","filename":"/home/michal/Skola/BIoT/test/DevRegFile.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":140,"wires":[["43078620079fe64e"]]},{"id":"43078620079fe64e","type":"json","z":"1e19e69d5d995c30","name":"","property":"payload","action":"","pretty":false,"x":410,"y":60,"wires":[["69a1982f45663262"]]},{"id":"64ba6c9c27288334","type":"function","z":"1e19e69d5d995c30","name":"SendAuthData","func":"//sending ID and Token to authorize\n//msg.headers = {};\n//msg.headers['X-Auth-User'] = msg.payload.id;\n//msg.headers['X-Auth-Key'] = msg.payload.token;\nmsg.headers = {\n    //id: msg.payload.id,\n    Authorization: \"Bearer \" + msg.payload.token\n    //Authorization: msg.payload.token\n}\n    //msg.headers['X-Auth-Key'] = msg.payload.token\n\nreturn msg.headers;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg.payload","module":"msg"}],"x":720,"y":140,"wires":[["a305cf902ded33f0","fe13d49f5f031d53"]]},{"id":"c1ca7238323bca5b","type":"function","z":"1e19e69d5d995c30","name":"FailedDataToSend","func":"msg.headers = {\n   //id: msg.headers.id,\n    //Authorization: \"Bearer \" + msg.headers.token\n    Authorization: msg.Authorization\n}\n\n/*\n{\n    \"values\": [\n        {\n            \"date\": \"2024-06-13T21:45:28.183Z\",\n            \"value\": 0\n        }\n    ]\n}*/\n//var str = msg.payload.replace(/}\\n$/, /},/);\n//var val = new Array(msg.payload);\n\n//var str = msg.payload.replace(/,$/, \"\");\n// var eStr = str.replace(\"\\\\n\", \"\");\n// var str = msg.payload;\n//var newStr = new String(str);\n//msg.values = \"\";\n\nmsg.values = msg.payload;//.replace(\"\\\"{\", \"{\");//'[ ' + newStr + ' ]';\n//msg.values = msg.values.replace(\"}\\\"\", \"}\");\n//msg.payload = val;\n/*[\n    { \"date\": \"2024-06-02T10:20:39.661Z\", \"value\": 26.31 },\n    { \"date\": \"2024-06-02T10:21:41.178Z\", \"value\": 26.38 },\n    { \"date\": \"2024-06-02T10:22:41.178Z\", \"value\": 26.48 },\n    { \"date\": \"2024-06-02T10:23:41.178Z\", \"value\": 26.48 },\n    { \"date\": \"2024-06-02T10:24:41.178Z\", \"value\": 26.58 },\n    { \"date\": \"2024-06-02T10:25:41.178Z\", \"value\": 26.68 },\n    { \"date\": \"2024-06-02T10:26:41.178Z\", \"value\": 26.88 },\n    { \"date\": \"2024-06-02T10:27:41.178Z\", \"value\": 26.18 },\n]\n};*/\n\n//var str = tempMsg.replace(/,$/, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"msg.payload","module":"msg"},{"var":"global.headers","module":"global"},{"var":"msg.values","module":"msg"}],"x":290,"y":240,"wires":[["d53f2015d6481d57","f73d5bdb595a803a"]]},{"id":"d53f2015d6481d57","type":"http request","z":"1e19e69d5d995c30","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://139.162.191.235:3000/api/v1/warehouse/record","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":240,"wires":[["4194f5f8441ce78e","33483e2883e46f82"]],"inputLabels":["msg.payload"]},{"id":"2456f52985f5e938","type":"debug","z":"1e19e69d5d995c30","name":"200","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"4194f5f8441ce78e","type":"switch","z":"1e19e69d5d995c30","name":"ReturnCode","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"eq","v":"401","vt":"str"},{"t":"eq","v":"400","vt":"str"},{"t":"eq","v":"409","vt":"str"},{"t":"gte","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":790,"y":240,"wires":[["2456f52985f5e938"],["8ddb0454d1261026"],["5aab82d78e30de58"],["be48122047639df1"],["177b3ed7d743c8ef"]]},{"id":"8ddb0454d1261026","type":"debug","z":"1e19e69d5d995c30","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"be48122047639df1","type":"debug","z":"1e19e69d5d995c30","name":"409","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"5aab82d78e30de58","type":"debug","z":"1e19e69d5d995c30","name":"400","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"177b3ed7d743c8ef","type":"debug","z":"1e19e69d5d995c30","name":">=500","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":360,"wires":[]},{"id":"f73d5bdb595a803a","type":"debug","z":"1e19e69d5d995c30","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":320,"wires":[]},{"id":"a305cf902ded33f0","type":"debug","z":"1e19e69d5d995c30","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":80,"wires":[]},{"id":"bd78c8ad13ea48e0","type":"debug","z":"1e19e69d5d995c30","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"33483e2883e46f82","type":"debug","z":"1e19e69d5d995c30","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":320,"wires":[]},{"id":"fe13d49f5f031d53","type":"file in","z":"1e19e69d5d995c30","name":"Read Saved Temperatures","filename":"/home/michal/Skola/BIoT/test/TempFileFailed.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1000,"y":140,"wires":[["6154346ff3e84872"]]},{"id":"6154346ff3e84872","type":"json","z":"1e19e69d5d995c30","name":"","property":"payload","action":"","pretty":false,"x":110,"y":240,"wires":[["c1ca7238323bca5b"]]}]